EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyAQJL6G2it82JtJVFOe2uwLzPya6cdSjl0
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=juander-s-5bb2c.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=juander-s-5bb2c
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=juander-s-5bb2c.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=702177749661
EXPO_PUBLIC_FIREBASE_APP_ID=1:702177749661:web:5274b44291720c7b5a4274
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyBQl5eXJ5Rr2bcAWePlCpz0u1H51aecfRc
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
